#moviesTable tbody tr:hover{ 
    cursor: pointer;
    background: linear-gradient(to right, transparent, 10%, rgb(244, 243, 243), 90%, transparent)
}


#noResults {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    visibility: hidden;
}

#noResults h5 {
    padding-top: 75px;
}